@charset "UTF-8";
@use "settings" as *;
@use "utility" as *;
@use "core" as *;

@keyframes scrollAnimation {
  0% {
    left: 0;
    right: unset;
    width: 0;
  }
  30% {
    width: 100%;
    left: 0;
    right: 0;
  }
  50% {
    width: 100%;
    left: unset;
    right: 0;
  }
  70% {
    width: 100%;
    left: unset;
    right: 0;
  }
  100% {
    width: 0;
    left: unset;
    right: 0;
  }
}

// --------------------------------------------------
// Content-main
// --------------------------------------------------
.content-main {
  header,
  footer {
    width: calc(50% - 250px);
    position: fixed;
    height: 100%;
    background: #1c2128;
    top: 0;
  }
  header {
    left: 0;
  }
  footer {
    right: 0;
  }
  main {
    width: 500px;
    margin: 0 auto;
    &:before,
    &:after {
      content: "";
      width: 500px;
      height: 90px;
      background: url(img/common/bdr_img01.png) no-repeat center / 100% 100%;
      position: fixed;
      left: 50%;
      transform: translateX(-50%);
      z-index: 10;
    }

    &:before {
      top: 0;
    }

    &:after {
      bottom: 0;
      transform: translateX(-50%) rotate(180deg);
      transform-origin: center;
    }
  }
  @media only screen and (max-width: $screen-tb) {
    header {
      width: calc(100% - 500px);
    }
    main {
      margin-left: calc(100% - 500px);
      &:before,
      &:after {
        left: unset;
        transform: translateX(0);
        right: 0;
      }
      &:after {
        transform: translateX(0) rotate(180deg);
      }
    }
    footer {
      width: 500px;
      margin-left: auto;
      position: relative;
      .f-wrap {
        margin-bottom: 50px;
        .en-ttl {
          font-size: 2.5rem;
          text-align: center;
        }
        .jp-ttl {
          font-size: 2re;
          text-align: center;
        }
      }
      .f-wrap-tb {
        h1 {
          font-size: 2.5rem;
          text-align: center;
          margin-bottom: 20px;
        }
        .copy {
          font-family: $f-roboto;
          text-align: center;
        }
      }
    }
  }
  @media only screen and (max-width: $screen-sp) {
    header {
      width: 100%;
      height: auto;
      z-index: 100;
    }
    main {
      width: 100%;
      margin-left: 0;
      &:before,
      &:after {
        display: none;
      }
    }
    footer {
      width: 100%;
    }
  }
}

// --------------------------------------------------
// Header
// --------------------------------------------------
header {
  .h-wrap {
    height: 100%;
    overflow: auto;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .logo-box {
      font: {
        size: clamp(1rem, 2vw, 3rem);
        weight: 700;
        family: $f-roboto;
      }
      color: $primary;
      line-height: 1;
      padding: 0 50px;
      margin-bottom: 40px;
      letter-spacing: 0.06em;
    }
    .nav-list {
      & > ul {
        & > li {
          .txt-box {
            transition: 0.3s;
            padding: 2.5svh 50px;
            & > .en-txt {
              font: {
                size: 3rem;
                weight: 700;
                family: $f-roboto;
              }
              color: $primary;
              line-height: 1;
              margin-bottom: 5px;
            }
            & > .jp-txt {
              font-weight: 700;
              transition: 0.3s;
            }

            &:hover,
            &.-current {
              background: #394049;
              & > .jp-txt {
                color: $primary;
              }
            }
          }
        }
      }
    }
    .copy {
      font: {
        size: 12px;
        weight: 300;
        family: $f-roboto;
      }

      color: $primary;
      margin-top: 40px;
      padding: 0 50px;
    }
  }
  .slide-menu {
    display: none;
  }
  @media only screen and (max-width: $screen-sp) {
    overflow: hidden;
    .h-wrap {
      padding: 20px;
      & > .logo-box {
        font-size: 2.5rem;
        padding: 0;
        margin-bottom: 0;
      }
      & > .nav-list {
        position: fixed;
        top: 65px;
        left: 100%;
        width: 100%;
        z-index: 1;
        background: #394049;
        bottom: 0;
        transition: 0.3s;
        padding-top: 20px;
        body.-open & {
          left: 0;
        }
        & > ul {
          & > li {
            transition: 0 !important;
            transition-delay: 0 !important;
            opacity: 1 !important;
            transform: translateZ(0) !important;
          }
        }
      }
      .copy {
        display: none;
      }
      .slide-menu {
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
        width: 40px;
        height: 40px;
        display: block;
        & > span {
          display: block;
          width: 100%;
          height: 2px;
          background: #fff;
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          margin: auto;
          transition: 0.3s;
          &:nth-of-type(1) {
            transform: translateY(-10px);
          }
          &:nth-of-type(3) {
            transform: translateY(10px);
          }
        }
        body.-open & {
          & > span {
            &:nth-of-type(1) {
              transform: rotate(25deg);
            }
            &:nth-of-type(2) {
              opacity: 0;
            }
            &:nth-of-type(3) {
              transform: rotate(-25deg);
            }
          }
        }
      }
    }
  }
}

// --------------------------------------------------
// Key-visual
// --------------------------------------------------
.key-visual {
  position: relative;
  .txt-box {
    h2 {
      font: {
        size: 8rem;
        family: $f-roboto;
      }
      color: $primary;
      line-height: 0.9;
      margin-bottom: 50px;
    }
    .sub-key-txt {
      font: {
        size: 4rem;
        weight: 300;
        family: $f-roboto;
      }
      line-height: 0.8;
      margin-bottom: 50px;
    }
    .sub-txt {
      font: {
        size: 2rem;
        weight: 300;
        family: $f-roboto;
      }
      line-height: 1;
      margin-bottom: 30px;
    }
  }
  .scroll-btn {
    position: absolute;
    right: 35px;
    bottom: 50px;
    width: 150px;
    transform: rotate(90deg);
    transform-origin: right bottom;
    padding-bottom: 5px;
    & > .txt {
      font: {
        size: 1rem;
        weight: 300;
        family: $f-roboto;
      }
      color: #fff;
    }
    &:before {
      content: "";
      width: 0;
      height: 1px;
      background: #fff;
      position: absolute;
      left: 0;
      bottom: 0;
      animation: scrollAnimation 2s infinite;
    }
  }
  @media only screen and (max-width: $screen-sp) {
    &.sec-box {
      padding: 160px 30px;
    }
    .txt-box {
      h2 {
        font-size: 6rem;
      }
      .sub-key-txt {
        font-size: 2.8rem;
      }
      .sub-txt {
        font-size: 1.6rem;
      }
    }
    .scroll-btn {
      bottom: 0;
    }
  }
}

// --------------------------------------------------
// メニューバー
// --------------------------------------------------
.slide-menu {
}

// --------------------------------------------------
// Body
// --------------------------------------------------
body {
  width: 100%;
  text-align: justify;
  background: #282c34;
  &.-open {
    height: 100%;
    overflow: hidden;
  }
}

// --------------------------------------------------
// Side
// --------------------------------------------------

// --------------------------------------------------
// Page
// --------------------------------------------------

// --------------------------------------------------
// Footer
// --------------------------------------------------
footer {
  padding: 50px;
  .f-wrap {
    .en-ttl {
      font: {
        size: clamp(1.5rem, 3vw, 3.5rem);
        weight: 700;
        family: $f-roboto;
      }
      color: $primary;
      margin-bottom: 0;
    }
    .jp-ttl {
      font: {
        size: clamp(1rem, 1.6vw, 2rem);
        weight: 500;
      }
      color: $base-f-color;
      margin-bottom: 40px;
    }
    .infor-list {
      margin-bottom: 40px;
      & > * + * {
        margin-top: 15px;
      }
      & > li {
        display: flex;
        & > a,
        & > span {
          color: $base-f-color;
          line-height: 1;
          display: block;
          word-break: break-all;
        }
        & > span {
          width: 60px;
        }
        & > a {
          width: calc(100% - 60px);
        }
      }
    }
    .btn-list {
      & > * + * {
        margin-top: 10px;
      }
      & > li {
        & > a {
          display: inline-block;
          text-decoration: none;
          padding-right: 20px;
          position: relative;
          &:after {
            content: "\f105";
            font: {
              weight: 900;
              family: $f-fa;
            }
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
          }
          @media only screen and (min-width: $screen-pc-min) {
            &:after {
              transition: 0.3s;
            }
            &:hover {
              &:after {
                right: -3px;
              }
            }
          }
        }
      }
    }
  }
  @media only screen and (max-width: $screen-tb) {
    .f-wrap {
      transform: translateZ(0) !important;
      opacity: 1 !important;
    }
  }
}
